name: opentelemetry
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test-otel:
    name: 'Test Open Telemetry'
    env:
      TEST_ES_SERVER: http://localhost:9250
      PORT: 9250
      TEST_WITH_OTEL: true
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.3', 'jruby-9.4']
        es_version: ['8.15.0-SNAPSHOT']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Increase system limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: ${{ matrix.es_version }}
          security-enabled: false
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Build and test with Rake
        run: |
          sudo apt-get update
          sudo apt-get install libcurl4-openssl-dev
          ruby -v
          bundle install
      - name: unit tests
        run: bundle exec rake test:unit
      - name: specs
        run: bundle exec rake test:spec
      - name: integration tests
        run: bundle exec rake test:integration
